IPv6 multiple choice questions #3

Section 2.2 of [RFC4291] notes that

```
  'The "::" can only appear once in an address.'
```

But 2001:0db8::a::0:0:cafe is considered to be a correct answer corresponding to IPv6 address 2001:db8:0:0:a::cafe.
